[

  {emqttd_plugin_mysql, [

    {mysql_pool, [
        %% ecpool options
        {pool_size, 8},
        {auto_reconnect, 1},

        %% mysql options
        {host,     "localhost"},
        {port,     8889},
        {user,     "root"},
        {password, "root"},
        {database, "lumen"},
        {encoding, utf8},
        {keep_alive, true}
    ]},

    %% Variables: %u = username, %c = clientid, %a = ipaddress, %k

    %% Superuser Query
    {superquery, "select password from users where email = '%u' limit 1"},

    %% Authentication Query: select password only
    {userauthquery, "select password from users where email = '%u' limit 1"},
    {deviceauthquery, "select password from device_regi_info where token = '%c' limit 1"},


    %% hash algorithm: plain, md5, sha, sha256, pbkdf2?
    {password_hash, sha256},

    %% select password with salt
    %% {authquery, "select password, salt from mqtt_user where username = '%u'"},

    %% sha256 with salt prefix
    %% {password_hash, {salt, sha256}},

    %% sha256 with salt suffix
    %% {password_hash, {sha256, salt}},

    %% '%a' = ipaddress, '%u' = username, '%c' = clientid
    {aclquery, "select access, access_type, topic from mqtt_acl where company = '<topic_company>'"},

    %% If no ACL rules matched, return...
    {acl_nomatch, deny}

  ]}

].
